{% extends 'base.html' %}

{% block title %}Success!{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}

    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Welcome to your home page, {{ user.first_name }}.</p>
    </div>

{% endif %}

{% endblock %}